body{
    margin-left: 200px;
    margin-top: 50px;
}

#contain_id h1{
    color: rgb(13, 194, 194);

}
.contain h2 {
    color: rgb(13, 194, 194);
}
footer p{
    color: rgb(234, 172, 172);
}
h2{
    color: rgb(13, 194, 194);
}
h1{
    color: rgb(13, 194, 194);
}
h3{
    color: rgb(13, 194, 194);
}